In [1]:
import numpy as py
import pandas as pd

In [2]:
temp_df = pd.read_csv("Players.csv")

In [3]:
df = temp_df.drop(['Unnamed: 0', 'Name','Version', 'Price', 'WR', 'Game_Stats', 'Base_Stats', 'Popularity'],axis=1) 
df = df.drop_duplicates()
# Getting rid of unnecessary couloms and dropping duplicates

In [4]:
df.shape

(6164, 19)

In [5]:
split_height = df["Height"].str.split("cm",n=1,expand=True)
split_height.rename(columns={0:'Player_Height',1:'Delete'})
# I created a new table to separate the height from the rest of the string

     Player_Height                           Delete
0              170                           | 5'6"
1              185                           | 6'0"
2              185                           | 6'0"
3              180                          | 5'10"
4              193                           | 6'3"
...            ...                              ...
7151           173              | 5'8"\nLean (67kg)
7152           183              | 6'0"\nLean (70kg)
7153           189   | 6'2"\nHigh & Average+ (79kg)
7154           176              | 5'9"\nLean (69kg)
7155           185    | 6'1"\nHigh & Average (80kg)

[6164 rows x 2 columns]

In [6]:
df[['Player_Height','Delete']] = df['Height'].str.split("cm",n=1,expand=True)
df = df.drop(['Delete', 'Height'],axis=1)
# Added the new table to the main table and deleted the unnecessary columns

In [9]:
df

,Rat,Position,Skils,Weak_Foot,Pace,Shooting,Passing,Dribbling,Defending,Physicality,Age,Weight,Aggression,Balance,Ball_Control,Jumping,Long_Passing,Stamina,Player_Height
0,94,RW,4,4,92,88,86,95,24,62,34,72kg,48.0,95.0,96.0,68.0,79.0,76.0,170
1,93,LW,5,4,92,93,80,90,33,78,36,80kg,62.0,62.0,91.0,94.0,72.0,87.0,185
2,93,ST,5,4,92,93,80,90,33,78,36,80kg,62.0,62.0,91.0,94.0,72.0,87.0,185
3,90,RM,4,2,92,86,82,92,32,64,37,80kg,47.0,91.0,90.0,61.0,74.0,76.0,180
4,90,GK,1,4,85,87,91,86,58,90,35,92kg,29.0,35.0,31.0,78.0,41.0,44.0,193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,75,RM,4,4,81,66,68,82,39,56,20,67kg,43.0,83.0,81.0,54.0,58.0,76.0,173
7152,75,CDM,3,3,87,58,66,72,74,81,23,70kg,75.0,81.0,73.0,77.0,67.0,90.0,183
7153,75,RM,5,2,87,71,61,80,52,68,23,79kg,59.0,73.0,77.0,60.0,48.0,70.0,189
7154,75,LB,3,3,89,60,69,75,69,69,23,69kg,78.0,74.0,75.0,62.0,69.0,74.0,176
7155,75,CB,3,4,83,54,67,71,71,83,19,80kg,83.0,60.0,72.0,83.0,74.0,79.0,185

In [20]:
df['Weight'] = df['Weight'].str.replace(r'\D', '').astype(int)
# The string was removed from the weight

,Rat,Position,Skils,Weak_Foot,Pace,Shooting,Passing,Dribbling,Defending,Physicality,Age,Weight,Aggression,Balance,Ball_Control,Jumping,Long_Passing,Stamina,Player_Height
0,94,RW,4,4,92,88,86,95,24,62,34,72,48.0,95.0,96.0,68.0,79.0,76.0,170
1,93,LW,5,4,92,93,80,90,33,78,36,80,62.0,62.0,91.0,94.0,72.0,87.0,185
2,93,ST,5,4,92,93,80,90,33,78,36,80,62.0,62.0,91.0,94.0,72.0,87.0,185
3,90,RM,4,2,92,86,82,92,32,64,37,80,47.0,91.0,90.0,61.0,74.0,76.0,180
4,90,GK,1,4,85,87,91,86,58,90,35,92,29.0,35.0,31.0,78.0,41.0,44.0,193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,75,RM,4,4,81,66,68,82,39,56,20,67,43.0,83.0,81.0,54.0,58.0,76.0,173
7152,75,CDM,3,3,87,58,66,72,74,81,23,70,75.0,81.0,73.0,77.0,67.0,90.0,183
7153,75,RM,5,2,87,71,61,80,52,68,23,79,59.0,73.0,77.0,60.0,48.0,70.0,189
7154,75,LB,3,3,89,60,69,75,69,69,23,69,78.0,74.0,75.0,62.0,69.0,74.0,176
7155,75,CB,3,4,83,54,67,71,71,83,19,80,83.0,60.0,72.0,83.0,74.0,79.0,185

In [24]:
df.describe(include='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6164 entries, 0 to 7155
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rat            6164 non-null   int64
 1   Position       6164 non-null   object
 2   Skils          6164 non-null   int64
 3   Weak_Foot      6164 non-null   int64
 4   Pace           6164 non-null   int64
 5   Shooting       6164 non-null   int64
 6   Passing        6164 non-null   int64
 7   Dribbling      6164 non-null   int64
 8   Defending      6164 non-null   int64
 9   Physicality    6164 non-null   int64
 10  Age            6164 non-null   int64
 11  Weight         6164 non-null   int32
 12  Aggression     6145 non-null   float64
 13  Balance        6145 non-null   float64
 14  Ball_Control   6145 non-null   float64
 15  Jumping        6145 non-null   float64
 16  Long_Passing   6145 non-null   float64
 17  Stamina        6145 non-null   float64
 18  Player_Height  6164 non-null   object
dtypes: float64(6), int32(1), int64(10), object(2)
memory usage: 939.0+ KB

In [25]:
df.dropna()
# dropped the NaN Values

,Rat,Position,Skils,Weak_Foot,Pace,Shooting,Passing,Dribbling,Defending,Physicality,Age,Weight,Aggression,Balance,Ball_Control,Jumping,Long_Passing,Stamina,Player_Height
0,94,RW,4,4,92,88,86,95,24,62,34,72,48.0,95.0,96.0,68.0,79.0,76.0,170
1,93,LW,5,4,92,93,80,90,33,78,36,80,62.0,62.0,91.0,94.0,72.0,87.0,185
2,93,ST,5,4,92,93,80,90,33,78,36,80,62.0,62.0,91.0,94.0,72.0,87.0,185
3,90,RM,4,2,92,86,82,92,32,64,37,80,47.0,91.0,90.0,61.0,74.0,76.0,180
4,90,GK,1,4,85,87,91,86,58,90,35,92,29.0,35.0,31.0,78.0,41.0,44.0,193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,75,RM,4,4,81,66,68,82,39,56,20,67,43.0,83.0,81.0,54.0,58.0,76.0,173
7152,75,CDM,3,3,87,58,66,72,74,81,23,70,75.0,81.0,73.0,77.0,67.0,90.0,183
7153,75,RM,5,2,87,71,61,80,52,68,23,79,59.0,73.0,77.0,60.0,48.0,70.0,189
7154,75,LB,3,3,89,60,69,75,69,69,23,69,78.0,74.0,75.0,62.0,69.0,74.0,176
7155,75,CB,3,4,83,54,67,71,71,83,19,80,83.0,60.0,72.0,83.0,74.0,79.0,185

In [34]:
df.drop(df.loc[df["Position"] == 'GK'].index, inplace=True)
# Removed the goalkeepers from the table

In [35]:
df

,Rat,Position,Skils,Weak_Foot,Pace,Shooting,Passing,Dribbling,Defending,Physicality,Age,Weight,Aggression,Balance,Ball_Control,Jumping,Long_Passing,Stamina,Player_Height
0,94,RW,4,4,92,88,86,95,24,62,34,72,48.0,95.0,96.0,68.0,79.0,76.0,170
1,93,LW,5,4,92,93,80,90,33,78,36,80,62.0,62.0,91.0,94.0,72.0,87.0,185
2,93,ST,5,4,92,93,80,90,33,78,36,80,62.0,62.0,91.0,94.0,72.0,87.0,185
3,90,RM,4,2,92,86,82,92,32,64,37,80,47.0,91.0,90.0,61.0,74.0,76.0,180
5,90,ST,4,4,82,88,79,88,42,79,34,85,78.0,60.0,91.0,69.0,64.0,86.0,182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,75,RM,4,4,81,66,68,82,39,56,20,67,43.0,83.0,81.0,54.0,58.0,76.0,173
7152,75,CDM,3,3,87,58,66,72,74,81,23,70,75.0,81.0,73.0,77.0,67.0,90.0,183
7153,75,RM,5,2,87,71,61,80,52,68,23,79,59.0,73.0,77.0,60.0,48.0,70.0,189
7154,75,LB,3,3,89,60,69,75,69,69,23,69,78.0,74.0,75.0,62.0,69.0,74.0,176
7155,75,CB,3,4,83,54,67,71,71,83,19,80,83.0,60.0,72.0,83.0,74.0,79.0,185

In [36]:
df.to_csv("Players_clean.csv")